/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2019, 5:55:01 PM
    Author     : rachc
*/
body{
  
  margin-left: 20px;
}
.playButton{
 background-color:#cc0000;
 border:1px solid #660000;
 border-radius:5px;
 color:#fff;
 margin-left:30px;
 padding:10px 10px 10px 10px;
 text-decoration: none;
}

